body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#intro {
font-style: italic;
font-size: 16px;
}
#Anderlecht {
background-color: lightskyblue;    
}
#Brugge {
background-color: lightskyblue;    
}
#Union {
background-color: lightskyblue;    
}
#Standard {
background-color: lightskyblue;    
}
#Beerschot {
background-color: lightskyblue;    
}
footer {
font-size: 14px;
font-weight: bold;    
color: black;
}
h1 {
font-size: 36px;    
}
img {
float: left;
padding: 3px;
}